<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signups</title>
</head>
<body>
<h1>Vaccine Signups</h1>
    <ul>
<!-- If there are no signups then display "There are no signups" Otherwise, add each signup to a list -->
        {% if signups == []: %}
        <p>There are no signups</p>
        {% endif %}
        {% for signup in signups %}
        <li>Name: {{signup.name}} - DOB: {{signup.dob}} - Dose: {{signup.dose}} - Date: {{signup.date}}</li>
        {% endfor %}
    </ul>
<a href="{{ url_for('signup') }}">Add New Signup</a>
</body>
</html>