<html>
  <head>
    <style>
      div {
        background-image: url('static/hc.jpg');
        height: 90%;
        background-position: strech;
        background-repeat: no-repeat;
        background-size: cover;
    }
  </style>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <style>
      h1 {text-align: center}
      h2{text-align: center;}
      div {text-align: center;}
      </style>
      <br>
      <h1 style="color:white">Covid-19 Vaccination Tracker: Admin Login Page</h1>
      <br>
      <br>
      <!-- <h2 style="color:white">Admin Login Page</h2> -->
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
          <br>
          <br>
        <input class="btn btn-default" style="color:white" type="submit" value="Login">
        <!-- <li class="nav-item"> -->
          <p><a href="/checkuser">Return to Home Page</a></p>
        <!-- </li> -->
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
