<!--Here we will extend the base.html template-->
{% extends "base.html" %}
{% block title %}Vaccination Form{% endblock %}
{% block content %}
    <div class="container">
        <style>
        h1 {text-align: center;}
        </style>
        <br>
        <h1>Vaccination Tracker Home Page</h1>
        <br>
        <div class="text-center">
        <a class="btn btn-primary" href="signup" role="button">Signup for Vaccination</a>
        <a class="btn btn-primary" href="login" role="button">Provider Portal</a>
        </div>
      </div>
{% endblock %}